@import reset/reset

html
	box-sizing: border-box
*,
*:after,
*:before
	box-sizing: inherit

body
	width: 900px
	margin: 0 auto
	#game
		.board
			margin: 0 auto
			width: 500px
			height: 500px
			display: flex
			flex-wrap: wrap
			justify-content: space-between
