<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Game board tiles
    link(rel="stylesheet", href="css/main.css")
    meta(name='description' content='Test project game board tiles typing on react.')
    meta(property='og:site_name' content='React game board tiles')
    meta(property='og:title' content='Test game')
    meta(property='og:description' content='Test project game board tiles typing on react.')
    meta(property='og:image' content='img/iconGame.png' )
    meta(property='og:image:type' content="image/png" )
    meta(property='og:image:alt' content='Icon game')
  body
    #game
    script(src="js/main.js")
